.slider-images {}

.splide__arrow--prev {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    position: absolute;
    top: calc(50% - 25px);
    left: -40px;
}


/* .splide__arrows {
    position: relative;
    top: calc(50% - 20px);
    left: -40px;
} */


/* * {
    background: red !important;
} */

.splide__arrow--next {
    position: absolute;
    top: calc(50% - 25px);
    right: -40px;
}